.content .skills-card, .content .works-card, .content .bio-card {
  background-color: #222;
  color: #eee;
  padding: 60px 20px 20px;
  margin: 0 auto 20px;
  width: 100%;
}

.content .skills-card .card-content h2, .content .works-card .card-title h2, .content .bio-card .card-content h2 {
  text-transform: uppercase;
  font-size: 1.9rem;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

.content .skills-card .card-content h2::after, .content .works-card .card-title h2::after, .content .bio-card .card-content h2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

h3 {
  font-size: 14rem;
  background-image: url("./../assets/images/aaron.webp");
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

@media (min-width: 1200px) {
  .content {
    width: 80%;
    margin: auto;
  }
}
.mdi--arrow-right {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 11v2h12l-5.5 5.5l1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5L16 11z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.hero {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0;
}
.hero .hero-title h1 {
  font-family: "Noto Serif", serif;
  font-size: 2.3rem;
  color: #eee;
  text-align: center;
}
.hero .hero-title .textwriter {
  font-family: "Noto Sans Mono", serif;
  font-size: 1.2rem;
  color: #3498db;
  text-transform: uppercase;
  position: relative;
}
.hero .hero-title .textwriter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #222;
  border-left: 2px solid;
  animation: 8s steps(26) 1s forwards typing, 1s step-end infinite blink;
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
}

@keyframes typing {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  75% {
    width: 56%;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media (min-width: 667px) {
  .hero {
    margin-bottom: 0;
  }
  .hero img {
    width: 20rem;
    height: 20rem;
  }
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    position: relative;
  }
  .hero .hero-title {
    position: absolute;
    left: 315px;
    width: 31rem;
    padding: 0;
  }
  .hero .hero-title h1 {
    font-size: 2.8rem;
  }
  .hero .hero-title .textwriter {
    font-size: 1.4rem;
  }
  .hero img {
    width: 50%;
    height: 50%;
  }
}
@media (min-width: 1024px) {
  .hero {
    width: 100vw;
    height: 100vh;
  }
  .hero .hero-title {
    left: 352px;
    width: 42rem;
  }
  .hero img {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 1080px) {
  .hero .hero-title {
    left: 400px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-title {
    left: 510px;
    width: 40rem;
  }
  .hero .hero-title h1 {
    width: 100%;
    font-size: 3rem;
  }
  .hero .hero-title .textwriter {
    font-size: 1.6rem;
  }
}
@media (min-width: 1300px) {
  .hero .hero-title {
    width: 50rem;
  }
}
.content .bio-card {
  font-family: "Noto Serif", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .bio-card .card-title {
  display: none;
}
.content .bio-card .card-content p:first-child {
  color: #3498db;
  text-transform: capitalize;
  padding: 0;
}
.content .bio-card .card-content h2::after {
  background: linear-gradient(90deg, #eee, #222);
}
.content .bio-card .card-content p:not(:first-of-type) {
  font-family: "Noto Sans Mono", serif;
  line-height: 1.7rem;
  padding: 10px 0;
}

@media (min-width: 667px) {
  .content .bio-card {
    display: flex;
    flex-direction: row;
    width: 90%;
    box-shadow: 0 10px 20px #111;
    border-radius: 5px;
  }
  .content .bio-card .card-title {
    display: none;
  }
  .content .bio-card .card-content {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .content .bio-card {
    margin-bottom: 0;
    width: 80%;
    transform: translate(-30px);
    position: relative;
    z-index: 3;
  }
  .content .bio-card .card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .content .bio-card .card-content {
    width: 50%;
  }
}
.content .works-card {
  font-family: "Noto Sans Mono", serif;
  justify-content: center;
  overflow: hidden;
}
.content .works-card .card-title {
  font-family: "Noto Serif", serif;
  display: flex;
  margin-bottom: 20px;
}
.content .works-card .card-title > div {
  width: 100%;
  text-align: end;
}
.content .works-card .card-title > div > p {
  color: #3498db;
  text-transform: capitalize;
  align-self: end;
}
.content .works-card .card-title h2 {
  width: 100%;
}
.content .works-card .card-title h2::after {
  background: linear-gradient(90deg, #222, #eee);
}
.content .works-card .card-title h3 {
  display: none;
}
.content .works-card .card-content .work {
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}
.content .works-card .card-content .work:not(:first-child, :nth-child(2)) {
  display: none;
}
.content .works-card .card-content .work a {
  width: 100%;
  text-decoration: none;
}
.content .works-card .card-content .work a img {
  width: 100%;
  border-radius: 5px;
}
.content .works-card .card-content .work p {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #eee;
  background-color: #222;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8rem;
}
.content .works-card .works-link {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0;
  color: #3498db;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  border-radius: 50px;
}
.content .works-card .works-link span {
  margin-left: 8px;
}
.content .works-card .works-link:hover {
  color: rgba(52, 152, 219, 0.8);
}

@media (min-width: 667px) {
  .content .works-card {
    width: 90%;
    box-shadow: 0 10px 20px #111;
    border-radius: 5px;
  }
  .content .works-card .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .content .works-card .card-content .work {
    width: 17rem;
  }
  .content .works-card .card-content .work:not(:first-child, :nth-child(2)) {
    display: none;
  }
}
@media (min-width: 768px) {
  .content .works-card {
    margin-bottom: 0;
    width: 80%;
    transform: translate(30px, -110px);
    position: relative;
    z-index: 2;
    padding: 20px;
  }
  .content .works-card .card-title {
    margin-bottom: 0;
  }
  .content .works-card .card-title > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content .works-card .card-title h2 {
    text-align: end;
    margin-bottom: 0;
  }
  .content .works-card .card-title h3 {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .content .works-card .card-content .work {
    width: 18rem;
  }
}
@media (min-width: 1024px) {
  .content .works-card .card-content .work {
    width: 20rem;
  }
  .content .works-card .works-link {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .content .works-card .card-content .work {
    width: 16rem;
  }
  .content .works-card .card-content .work:not(:first-child, :nth-child(2)) {
    display: block;
  }
}
.content .skills-card {
  font-family: "Noto Serif", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .skills-card .card-title {
  display: none;
}
.content .skills-card .card-content {
  width: 100%;
}
.content .skills-card .card-content p:first-child {
  color: #3498db;
  text-transform: capitalize;
}
.content .skills-card .card-content h2::after {
  background: linear-gradient(90deg, #eee, #222);
}
.content .skills-card .card-content .skills-list {
  font-family: "Noto Sans Mono", serif;
  display: flex;
}
.content .skills-card .card-content .skills-list ul {
  line-height: 1.7rem;
  padding: 20px;
  flex-basis: 50%;
}

@media (min-width: 667px) {
  .content .skills-card {
    display: flex;
    flex-direction: row;
    width: 90%;
    box-shadow: 0 10px 20px #111;
    border-radius: 5px;
  }
}
@media (min-width: 768px) {
  .content .skills-card {
    width: 80%;
    transform: translate(-30px, -150px);
  }
  .content .skills-card .card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .content .skills-card .card-content {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */