@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;
@use "./../helpers/placeholders" as *;

header {
  background-color: transparent;
  @include flexDirection(column);
}

.hero {
  .hero-title {
    @include flexDirection(column);
    padding: 20px 20px 0;
    color: $alt_color;
    text-align: center;
  
    h1 {
      @extend %h1_style;
    }
  
    .textwriter {
      @extend %p_style;
      text-transform: uppercase;
      position: relative;
  
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $main_color;
        border-left: 2px solid;
        animation: 8s steps(26) 1s forwards typing, 1s step-end infinite blink;
      }
    }
  }

  .hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
  }
}

.projects-header {
  margin-bottom: 40px;

  .projects-title {
    padding: 20px;
    color: $alt_color;
    text-align: center;
  
    h1 {
      @extend %h1_style;
    }
  
    p {
      @extend %p_style;
    }
  }
}


@keyframes typing {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  75% {
    width: 56%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 667px) {
  header {
    margin-bottom: 0;
  }

  .hero {
    .hero-img {
      width: 20rem;
      height: 20rem;
    }
  }
}

@media (min-width: 768px) {
  header {
    display: block;
    position: relative;
  }

  .hero {
    .hero-title {
      position: absolute;
      left: 50%;
      width: 30rem;
      padding: 0;
      top: 50%;
      transform: translate(-20%, -50%);
  
      h1 {
        font-size: 2.8rem;
      }
  
      .textwriter {
        font-size: 1.4rem;
      }
    }
  
    .hero-img {
      width: 50%;
      height: 50%;
    }
  }

  .projects-header {
    .projects-title {
      padding: 100px 20px 20px;

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    width: 100%;
    height: 100vh;

    nav .container .toggle-menu {
      display: none;
    }
  }

  .hero {
    .hero-title {
      left: 530px;
      width: 33rem;
    }
  
    .hero-img {
      width: 50%;
      height: 100%;
    }
  }

  .projects-header {
    height: fit-content;

    .projects-title {
      padding: 150px 20px 20px;
      text-align: start;
      width: 90%;
      margin: auto;

      p {
        width: 40rem;
      }
    }
  }
}

@media (min-width: 1080px) {
  .hero {
    .hero-title {
      left: 580px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .hero-title {
      left: 620px;
      width: 40rem;
  
      h1 {
        width: 100%;
        font-size: 3rem;
      }
  
      .textwriter {
        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 1300px) {
  .hero {
    .hero-title {
      left: 680px;
      width: 50rem;
    }
  }
}
