@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;

header {
  nav {
    width: 100%;

    .container {
      @include flexDirection(row);
      justify-content: space-between;
      width: 100%;
      color: $alt_color;
      position: relative;

      .logo {
        padding: 20px;
        flex-basis: 14rem;

        a {
          font-family: $header_font;
          font-size: 1.4rem;
          font-weight: bold;
          text-decoration: none;
          color: inherit;
        }
      }

      .toggle-menu {
        padding: 20px;
        line-height: 0px;
        cursor: pointer;

        .icon {
          width: 30px;
          height: 30px;
        }
      }

      .nav-list {
        width: 89%;
        position: absolute;
        top: 60px;
        left: 18px;
        background-color: #eee;
        padding: 20px;
        border-radius: 5px;
        z-index: 2;
        transform: rotateX(90deg);
        transform-origin: top;
        transition-duration: 0.5s;

        ul {
          @include flexDirection(column);
          width: 100%;

          li {
            list-style: none;
            width: 100%;
            padding: 8px 0;
            text-align: center;
            color: $main_color;
            border-radius: 5px;

            &:not(:last-child):hover {
              background-color: $main_color;
              color: $alt_color;
            }

            a {
              font-family: $content_font;
              text-decoration: none;
              color: inherit;
              font-weight: bold;
              font-size: 1.2rem;
              display: block;
            }
          }

          .social {
            display: flex;
            justify-content: center;

            a {
              color: inherit;
              margin: 0 20px;

              .mdi--github,
              .mdi--twitter {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }

      .open-menu {
        transform: rotateX(0);
      }
    }
  }
}

@media (min-width: 667px) {
  header {
    nav {
      .container {
        .nav-list {
          width: 93%;
          left: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      .container {
        width: 90%;
        margin: 20px auto;

        .logo {
          flex-basis: 16rem;

          a {
            font-size: 1.8rem;
          }
        }

        .nav-list {
          width: 93%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    nav {
      .container {
        padding: 20px 0;

        .logo {
          flex-basis: 20rem;
        }

        .nav-list {
          transform: rotateX(0);
          position: initial;
          background-color: transparent;
          flex-basis: 30rem;
          line-height: 0;

          ul {
            flex-direction: row;
            justify-content: space-around;

            li {
              color: inherit;
              padding: 0;
              transition-duration: 0.3s;
              width: initial;

              &:not(:last-child):hover {
                color: $blue_color;
              }
            }

            .social {
              a {
                margin: 0 10px;
                transition-duration: 0.3s;

                &:hover {
                  color: $blue_color;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    nav {
      .container {
        width: 80%;
      }
    }
  }
}
