@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;

nav {
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $alt_color;

    .logo {
      padding: 0 20px;
      text-align: center;

      a {
        font-family: $logo_font;
        font-size: 3rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
      }
    }

    .toggle-menu {
      padding: 20px;
      line-height: 0px;
      cursor: pointer;

      .icon {
        width: 36px;
        height: 36px;
      }
    }

    .nav-list {
      width: 90%;
      position: absolute;
      top: 80px;
      left: 18px;
      background-color: #ddd;
      padding: 20px;
      border-radius: 5px;
      z-index: 2;
      transform: rotateX(90deg);
      transform-origin: top;
      transition-duration: 0.2s;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        li {
          list-style: none;
          width: 100%;
          padding: 10px;
          text-align: center;
          color: $main_color;
          font-size: 1.2rem;
          cursor: pointer;

          a {
            color: inherit;
            text-decoration: none;
            display: block;
          }
        }

        .contact-dropdown {
          display: flex;
          flex-direction: column;
          align-items: center;

          & > span {
            display: flex;
          }

          .mdi--chevron-down {
            width: 24px;
            height: 24px;
          }

          .dropdown {
            padding: 10px;
            box-shadow: inset 0 0 10px $gray_light;
            border-radius: 5px;

            li {
              a {
                font-size: 14px;
                display: flex;
                align-items: center;
                color: $gray_color;
              }
            }
          }

          .ic--baseline-telegram,
          .ic--baseline-email {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }

        .social {
          display: flex;
          justify-content: center;

          a {
            color: inherit;
            margin: 0 20px;

            .fa6-brands--github,
            .fa6-brands--x-twitter {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .open-menu {
      transform: rotateX(0);
    }
  }
}

@media (width >= 40rem) {
  nav {
    .container {
      .nav-list {
        width: 90%;
        left: 36px;
      }
    }
  }
}

@media (width >= 48rem) {
  header {
    nav {
      .container {
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;
        backdrop-filter: blur(10px);

        .logo {
          a {
            font-size: 4rem;
          }
        }

        .nav-list {
          width: 93%;
          top: 6rem;
          left: 2rem;

          .contact-dropdown {
            .dropdown {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (width >= 64rem) {
  header {
    nav {
      .container {
        .logo {
          text-align: initial;
        }

        .toggle-menu {
          display: none;
        }

        .nav-list {
          transform: rotateX(0);
          position: initial;
          background-color: transparent;
          flex-basis: 30rem;
          padding: 0;

          ul {
            flex-direction: row;
            justify-content: space-around;

            li {
              color: inherit;
              padding: 0;
              transition-duration: $duration;
              width: initial;

              &:not(:last-child):hover {
                color: $blue_color;
              }
            }

            .contact-dropdown {
              position: relative;

              .dropdown {
                flex-direction: column;
                position: absolute;
                width: 16rem;
                top: 36px;
                left: 50%;
                transform: translateX(-50%) rotateX(90deg);
                background-color: $alt_color;
                border-radius: 6px;
                padding: 10px;
                transition-duration: $duration;
                transform-origin: top;
                box-shadow: none;

                &::before {
                  content: "";
                  position: absolute;
                  top: -8px;
                  left: 50%;
                  transform: translate(-50%) rotate(45deg);
                  width: 0;
                  height: 0;
                  border: 10px solid $alt_color;
                  border-right-color: transparent;
                  border-bottom-color: transparent;
                  border-radius: 5px;
                }

                li {
                  width: 100%;

                  a {
                    padding: 10px;
                    transition-duration: $duration;

                    &:hover {
                      background-color: #99999952;
                    }
                  }
                }

                &.open {
                  transform: translateX(-50%) rotateX(0deg);
                }
              }
            }

            .social {
              border-top: 0;

              a {
                margin: 0 10px;
                transition-duration: $duration;

                &:hover {
                  color: $blue_color;
                }
              }
            }
          }
        }
      }
    }
  }
}
