@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;

nav {
  padding: 20px;

  .container {
    display: flex;
    align-items: center;
    color: $alt_color;

    .logo {
      flex: 1;

      a {
        font-family: $logo_font;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        cursor: default;
      }
    }

    .toggle-menu {
      .icon {
        width: 36px;
        height: 36px;
      }
    }

    .nav-list {
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #ddd;
      padding: 20px;
      border-radius: 5px;
      z-index: 2;
      transform: rotateX(90deg);
      transform-origin: top;
      transition-duration: 0.2s;

      ul {
        li {
          list-style: none;
          text-align: center;
          color: $main_color;
          font-size: 1.2rem;

          a {
            padding: 10px;
            color: inherit;
            text-decoration: none;
            display: block;
            cursor: default;
          }
        }

        .contact-dropdown {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;

          & > div {
            display: flex;
            padding: 10px;
          }

          .mdi--chevron-down {
            width: 24px;
            height: 24px;
          }

          .dropdown {
            padding: 10px;
            box-shadow: inset 0 0 10px $gray_light;
            border-radius: 5px;

            li {
              a {
                font-size: 14px;
                display: flex;
                align-items: center;
                color: $gray_color;
              }
            }
          }

          .ic--baseline-telegram,
          .ic--baseline-email {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }

        .social {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          a {
            color: inherit;

            .fa6-brands--github,
            .fa6-brands--x-twitter {
              width: 24px;
              height: 24px;
            }
            .mdi--linkedin {
              width: 26px;
              height: 26px;
            }
          }
        }
      }
    }

    .open-menu {
      transform: rotateX(0);
    }
  }
}

@media (width >= 40rem) {
  nav {
    .container {
      .nav-list {
        .contact-dropdown {
        }
      }
    }
  }
}

@media (width >= 48rem) {
  header {
    nav {
      .container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;

        .logo {
          a {
            font-size: 2.5rem;
          }
        }

        .nav-list {
          top: 4rem;

          .contact-dropdown {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (width >= 64rem) {
  header {
    nav {
      .container {
        .logo {
          flex: initial;
        }

        .toggle-menu {
          display: none;
        }

        .nav-list {
          flex: 1;
          transform: rotateX(0);
          position: initial;
          background-color: transparent;
          padding: 0;

          ul {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;

            li {
              color: inherit;
              padding: 0;
              transition-duration: $duration;
              width: initial;
              cursor: default;

              &:not(:last-child):hover {
                color: $blue_color;
              }
            }

            .contact-dropdown {
              position: relative;
              width: initial;
              margin-bottom: 0;

              & > div {
                margin-bottom: 0;
              }

              .dropdown {
                flex-direction: column;
                position: absolute;
                width: 16rem;
                top: 50px;
                left: 50%;
                transform: translateX(-50%) rotateX(90deg);
                background-color: $alt_color;
                border-radius: 6px;
                padding: 10px;
                transition-duration: $duration;
                transform-origin: top;
                box-shadow: none;

                &::before {
                  content: "";
                  position: absolute;
                  top: -8px;
                  left: 50%;
                  transform: translate(-50%) rotate(45deg);
                  width: 0;
                  height: 0;
                  border: 10px solid $alt_color;
                  border-right-color: transparent;
                  border-bottom-color: transparent;
                  border-radius: 5px;
                }

                li {
                  width: 100%;

                  a {
                    padding: 10px;
                    transition-duration: $duration;

                    &:hover {
                      background-color: #99999952;
                    }
                  }
                }

                &.open {
                  transform: translateX(-50%) rotateX(0deg);
                }
              }
            }

            .social {
              border-top: 0;
              gap: 0;

              a {
                transition-duration: $duration;

                &:hover {
                  color: $blue_color;
                }
              }
            }
          }
        }
      }
    }
  }
}
