/* Colors */
$main_color: #222;
$alt_color: #ddd;
$shadow_color: #111;
$blue_color: #3498db;
$gray_color: #636e72;
$gray_light: #b2bec3;

/* Fonts */
$logo_font: "Kalam", serif;
$header_font: "Roboto", serif;
$content_font: "Roboto", serif;

$duration: 0.2s;
