@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;
@use "./../helpers/placeholders" as *;

.works {
  ul {
    @include flexDirection(column);
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;

    li {
      background-color: #ccc;
      list-style: none;
      width: 100%;
      height: 100%;
      position: relative;

      .card {
        font-family: $content_font;
        width: 100%;
        height: 100%;
        display: block;
        
        .title {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: $main_color;
          color: $alt_color;
          padding: 5px 10px;
          border-radius: 5px;
        }
  
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}

@media (min-width: 667px) {
  .works {
    .container {
      margin-bottom: 1rem;

      li {
        height: 12rem;
        border-radius: 5px;

        .card {
          img {
            border-radius: 5px;
          }
        }
      }
    }
  }
}
