@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;
@use "./../helpers/placeholders" as *;

.works-page-title {
  margin-bottom: 2rem;
  padding: 1.25rem;

  .title {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 3rem;
      color: $alt_color;
    }

    p {
      @extend %p_style;
    }
  }
}

@media (width >= 40rem) {
  .works-page-title {
    padding-top: 5rem;
  }
}

@media (width >= 48rem) {
  .works-page-title {
    display: flex;
    justify-content: center;
    padding: 8rem 1.25rem 0;
    width: 100%;
  }
}

@media (width >= 64rem) {
  .works-page-title {
    display: block;
    padding: 8rem 0 0;

    .title {
      text-align: initial;
      padding: 20px;
      width: 46vw;

      p {
        font-size: 1.6rem;
      }
    }
  }
}
