@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;
@use "./../helpers/placeholders" as *;

.works-page-title {
  margin-bottom: 2rem;
  padding: 1.25rem;

  .title {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 3rem;
      color: $alt_color;
    }

    p {
      @extend %p_style;
    }
  }
}

.works-content {
  padding: 1.25rem;

  .work-card {
    figure {
      text-align: center;
      color: $alt_color;

      img {
        width: 100%;
        border-radius: 8px;
      }

      .caption {
        padding: 1.25rem 0;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }
}

@media (width >= 40rem) {
  .works-page-title {
    padding-top: 5rem;
  }

  .works-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;

    .work-card {
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0 0 10px $shadow_color;
    }
  }
}

@media (width >= 48rem) {
  .works-page-title {
    display: flex;
    justify-content: center;
    padding: 2rem 1.25rem 0;
    width: 100%;
  }
}

@media (width >= 64rem) {
  .works-page-title {
    display: block;

    .title {
      text-align: initial;
      padding: 20px;
      width: 46vw;

      p {
        font-size: 1.6rem;
      }
    }
  }
}
