@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;
@use "./../helpers/placeholders" as *;

.content .bio-card {
  font-family: $header_font;
  @extend %card_style;
  @include flexDirection(column);
  justify-content: center;

  .card-title {
    display: none;
  }

  .card-content {
    p:first-child {
      color: $blue_color;
      text-transform: capitalize;
      padding: 0;
    }

    h2 {
      @extend %h2_style;

      &::after {
        @extend %after_style;
        background: linear-gradient(90deg, $alt_color, $main_color);
      }
    }

    p:not(:first-of-type) {
      font-family: $content_font;
      line-height: 1.7rem;
      padding: 10px 0;
    }
  }
}

@media (min-width: 667px) {
  .content .bio-card {
    @include flexDirection(row);
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 5px;

    .card-title {
      display: none;
    }

    .card-content {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .content {
    .bio-card {
      margin-bottom: 0;
      width: 80%;
      transform: translate(-30px);
      position: relative;
      z-index: 3;

      .card-title {
        @include flexDirection(row);
        justify-content: center;
        width: 50%;
      }

      .card-content {
        width: 50%;
      }
    }
  }
}
