@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;

.content .bio-card {
  @extend %card;
  @include flexDirection(column);
  justify-content: center;

  .card-title {
    display: none;
  }

  .card-content {
    p:first-child {
      color: $blue_color;
      text-transform: capitalize;
    }

    h2 {
      @extend %h2_design;

      &::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, $alt_color, $main_color);
      }
    }

    p:last-child {
      line-height: 1.7rem;
      padding: 20px 0;
    }
  }
}

@media (min-width: 667px) {
  .content .bio-card {
    @include flexDirection(row);
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 5px;

    .card-title {
      display: none;
    }

    .card-content {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .content {
    .bio-card {
      margin-bottom: 0;
      width: 80%;
      transform: translate(-30px);
      position: relative;
      z-index: 3;

      .card-title {
        @include flexDirection(row);
        justify-content: center;
        width: 50%;

        h3 {
          font-size: 7rem;
        }
      }

      .card-content {
        width: 50%;
      }
    }
  }
}
