@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;

.hero {
  background-color: transparent;
  @include flexDirection(column);

  .hero-title {
    @include flexDirection(column);
    padding: 20px 20px 0;

    h1 {
      font-family: $header_font;
      font-size: 2.3rem;
      color: $alt_color;
      text-align: center;
    }

    .textwriter {
      font-family: $content_font;
      font-size: 1.2rem;
      color: $blue_color;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $main_color;
        border-left: 2px solid;
        animation: 8s steps(26) 1s forwards typing, 1s step-end infinite blink;
      }
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
  }
}

@keyframes typing {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  75% {
    width: 56%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 667px) {
  .hero {
    margin-bottom: 0;

    nav {
      .container {
        .nav-list {
          width: 93%;
          left: 20px;
        }
      }
    }

    img {
      width: 20rem;
      height: 20rem;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    display: block;
    position: relative;

    nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      .container {
        width: 80%;
        margin: 0 auto;

        .logo {
          a {
            font-size: 1.8rem;
          }
        }

        .nav-list {
          width: 93%;
        }
      }
    }

    .hero-title {
      position: absolute;
      left: 50%;
      width: 30rem;
      padding: 0;
      top: 50%;
      transform: translate(-20%, -50%);

      h1 {
        font-size: 2.8rem;
      }

      .textwriter {
        font-size: 1.4rem;
      }
    }

    img {
      width: 50%;
      height: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    width: 100vw;
    height: 100vh;

    nav {
      .container {
        padding: 20px 0;

        .logo {
          width: 20rem;
        }

        .hamburger {
          display: none;
        }

        .close-menu {
          display: none;
        }

        .nav-list {
          transform: rotateX(0);
          position: initial;
          padding: 20px;
          background-color: transparent;

          ul {
            flex-direction: row;
            justify-content: space-around;

            li {
              color: inherit;
              padding: 0;
              transition-duration: 0.3s;
              width: initial;

              &:hover {
                color: $blue_color;
              }
            }
          }
        }
      }
    }

    .hero-title {
      left: 485px;
      width: 42rem;
    }

    img {
      width: 50%;
      height: 100%;
    }
  }
}

@media (min-width: 1080px) {
  .hero {
    .hero-title {
      left: 520px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .hero-title {
      left: 620px;
      width: 40rem;

      h1 {
        width: 100%;
        font-size: 3rem;
      }

      .textwriter {
        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 1300px) {
  .hero {
    .hero-title {
      left: 680px;
      width: 50rem;
    }
  }
}
