@use "./../helpers/variables" as *;
@use "./../helpers/mixins" as *;

.hero {
  background-color: transparent;
  @include flexDirection(column);
  align-items: center;

  .hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0;

    h1 {
      font-family: "Noto Serif", serif;
      font-size: 2.3rem;
      color: $alt_color;
      text-align: center;
    }

    .textwriter {
      font-family: "Noto Sans Mono", serif;
      font-size: 1.2rem;
      color: $blue_color;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $main_color;
        border-left: 2px solid;
        animation: 8s steps(26) 1s forwards typing, 1s step-end infinite blink;
      }
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
  }
}

@keyframes typing {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  75% {
    width: 56%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 667px) {
  .hero {
    margin-bottom: 0;

    img {
      width: 20rem;
      height: 20rem;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    position: relative;

    .hero-title {
      position: absolute;
      left: 315px;
      width: 31rem;
      padding: 0;

      h1 {
        font-size: 2.8rem;
      }

      .textwriter {
        font-size: 1.4rem;
      }
    }

    img {
      width: 50%;
      height: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    width: 100vw;
    height: 100vh;

    .hero-title {
      left: 352px;
      width: 42rem;
    }

    img {
      width: 50%;
      height: 100%;
    }
  }
}

@media (min-width: 1080px) {
  .hero {
    .hero-title {
      left: 400px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .hero-title {
      left: 510px;
      width: 40rem;

      h1 {
        width: 100%;
        font-size: 3rem;
      }

      .textwriter {
        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 1300px) {
  .hero {
    .hero-title {
      width: 50rem;
    }
  }
}
