@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;

.content .press-card {
  @extend %card;
  @include flexDirection(column);
  justify-content: center;

  .card-title {
    display: none;
  }

  .card-content {
    width: 100%;

    h2 {
      @extend %h2_design;

      &::after {
        @extend %after_design;
        background: linear-gradient(90deg, $alt_color, $main_color);
      }
    }

    p {
      line-height: 1.7rem;
      padding: 20px 0;
    }

    .comment {
      @include flexDirection(row);
      justify-content: space-between;

      .thumbnail {
        @include flexDirection(row);

        p {
          @include flexDirection(column);
          align-items: start;
          margin-left: 10px;

          span:first-child {
            color: $blue_color;
          }
        }

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .chevron {
        font-size: 3rem;
        width: 5rem;
        height: 4rem;
        line-height: 65px;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 667px) {
  .content .press-card {
    @include flexDirection(row);
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .content {
    .press-card {
      width: 80%;
      transform: translate(-30px, -80px);

      .card-title {
        @include flexDirection(column);
        width: 50%;
  
        h3 {
          font-size: 7rem;
        }
      }
  
      .card-content {
        width: 50%;
      }
    }
  }
}
