@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;

.content .skills-card {
  @extend %card;
  @include flexDirection(column);
  justify-content: center;

  .card-title {
    display: none;
  }

  .card-content {
    width: 100%;

    p:first-child {
      color: $blue_color;
      text-transform: capitalize;
    }

    h2 {
      @extend %h2_design;

      &::after {
        @extend %after_design;
        background: linear-gradient(90deg, $alt_color, $main_color);
      }
    }

    .skills-list {
      display: flex;
      justify-content: space-between;

      ul {
        line-height: 1.7rem;
        padding: 20px;
      }
    }
  }
}

@media (min-width: 667px) {
  .content .skills-card {
    @include flexDirection(row);
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .content {
    .skills-card {
      width: 80%;
      transform: translate(-30px, -140px);

      .card-title {
        @include flexDirection(column);
        width: 50%;
      }
  
      .card-content {
        width: 50%;
      }
    }
  }
}
