@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;
@use "./../helpers/placeholders" as *;

.content .works-card {
  font-family: $content_font;
  @extend %card_style;
  overflow: hidden;

  .card-title {
    font-family: $header_font;
    display: flex;
    margin-bottom: 20px;

    & > div {
      width: 100%;
      text-align: end;

      h2 {
        @extend %h2_style;
        width: 100%;

        &::after {
          @extend %after_style;
          background: linear-gradient(90deg, $main_color, $alt_color);
        }
      }

      & > p {
        color: $blue_color;
        text-transform: capitalize;
        align-self: end;
      }
    }

    h3 {
      display: none;
    }
  }

  .card-content {
    .work {
      margin-bottom: 20px;
      position: relative;
      border-radius: 5px;

      &:not(:first-child, :nth-child(2)) {
        display: none;
      }

      a {
        width: 100%;
        text-decoration: none;

        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      p {
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        left: 10px;
        color: $alt_color;
        background-color: $main_color;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }

  .works-link {
    color:$alt_color;
    border-radius: 5px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(#599bb3, $blue_color);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      color: $alt_color;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 1.3rem;

      .arrow-right {
        margin-left: 8px;
        width: 30px;
        height: 30px;
      }
    }

    &:hover {
      background: linear-gradient($blue_color, #599bb3);
    }
  }
}

@media (min-width: 667px) {
  .content .works-card {
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 5px;

    .card-content {
      @include flexDirection(row);
      justify-content: space-around;

      .work {
        width: 17rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .content {
    .works-card {
      margin-bottom: 0;
      width: 80%;
      transform: translate(30px, -100px);
      position: relative;
      z-index: 2;
      padding: 20px;

      .card-title {
        margin-bottom: 0;

        & > div {
          width: 50%;
          @include flexDirection(column);
          justify-content: center;

          h2 {
            text-align: end;
            margin-bottom: 0;
          }
        }

        h3 {
          display: flex;
          width: 50%;
          justify-content: center;
        }
      }

      .card-content {
        .work {
          width: 18rem;
        }
      }

      .works-link {
        width: 50%;
        margin: auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .content {
    .works-card {
      .card-content {
        .work {
          width: 20rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .content {
    .works-card {
      .card-content {
        .work {
          width: 16rem;

          &:not(:first-child, :nth-child(2)) {
            display: block;
          }
        }
      }
    }
  }
}
