@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;

.content .works-card {
  @extend %card;
  justify-content: center;
  overflow: hidden;

  .card-title {
    @include flexDirection(row);
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    h2 {
      @extend %h2_design;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, $main_color, $alt_color);
      }
    }

    h3 {
      display: none;
    }
  }

  .card-content {
    .work {
      margin-bottom: 20px;
      position: relative;
      border-radius: 5px;

      &:not(:first-child, :nth-child(2)) {
        display: none;
      }

      a {
        width: 100%;
        text-decoration: none;

        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      p {
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        left: 10px;
        color: $alt_color;
        background-color: $main_color;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        font-size: .8rem;
      }
    }
  }

  .works-link {
    a {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 10px 0;
      color: $blue_color;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.3rem;

      span {
        margin-left: 8px;
      }
    }
  }
}

@media (min-width: 667px) {
  .content .works-card {
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 5px;

    .card-title {
      width: 100%;

      h3 {
        font-size: 7rem;
      }
    }

    .card-content {
      @include flexDirection(row);
      justify-content: space-around;

      .work {
        width: 17rem;

        &:not(:first-child, :nth-child(2)) {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .content {
    .works-card {
      margin-bottom: 0;
      width: 80%;
      transform: translate(30px, -50px);
      position: relative;
      z-index: 2;

      .card-title {
        justify-content: space-evenly;

        h2 {
          width: 50%;
          text-align: end;
        }

        h3 {
          display: block;
        }
      }

      .card-content {
        .work {
          width: 18rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .content {
    .works-card {
      .card-content {
        .work {
          width: 20rem;
        }
      }
      .works-link {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .content {
    .works-card {
      .card-content {
        .work {
          width: 16rem;

          &:not(:first-child, :nth-child(2)) {
            display: block;
          }
        }
      }
      .works-link {
        width: 100%;
      }
    }
  }
}
