@use "./variables" as *;

@mixin flexDirection($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
}

@mixin number_style {
  font-size: 14rem;
  background-image: url("./../assets/images/aaron.webp");
  background-size: cover;
  background-clip: text;
  color: transparent;
}
